body {
  font-family: "Ubuntu", sans-serif;
  color: black;
  text-shadow: grey 0.5px 0.5px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.weather-app {
  margin-top: 20px;
  padding: 25px;
  border: 1px solid grey;
  border-radius: 10px;
}

.day-time {
  margin-bottom: 30px;
  margin-left: 5px;
}

.weather-temperature .temp {
  font-weight: bold;
  font-size: 50px;
}

.weather-temperature .units {
  position: relative;
  top: -14px;
  font-weight: 350;
  font-size: 20px;
}

.btn {
  margin-top: 5px;
}

#conditions {
  text-transform: capitalize;
}

h1 {
  margin-bottom: 0;
  font-size: 60px;
}

img {
  padding-left: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}
